<mat-card>
  
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>GroupName</mat-label>
      <input matInput placeholder="enter group name" required>
    </mat-form-field>
  </div>

  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" required>
    </mat-form-field>
  </div>
  
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Group Description</mat-label>
      <textarea matInput placeholder="enter group description"></textarea>
    </mat-form-field>
  </div>

  
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" required>
    </mat-form-field>
  </div>
 
  <div class="example-container">
      <!-- <mat-label>Ticket Assignment</mat-label> -->
      <mat-slide-toggle>Ticket Assignment</mat-slide-toggle>
  </div>

  <div class="example-container">
    <div class="example-button-row">
      <button mat-raised-button color="accent" id="button">Submit</button>
    </div>
  </div>

</mat-card>
