.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .example-form mat-slide-toggle {
    margin: 8px 0;
    display: block;
  }

  mat-card {
    margin: 20vh;
    padding: 7vh;
    background-color: rgb(42, 201, 87);
  }

  mat-form-field
  {
    color: gold;
  }

  mat-label
  {
    color: black;
  }

  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  
  #button
  {
    margin: 10px;
    text-align: center;
  }