<mat-card>Simple card</mat-card>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Rohit Sharma</mat-card-title>
      <mat-card-subtitle>Indian Captain</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.mumbaiindians.com/static-assets/images/players/large/3852.png?v=2.13&w=400" alt="Rohit Sharma">
    <mat-card-content>
      <p>
        He is a right-handed batter and a right arm orthodox spinner.
        He played for the Deccan Chargers from 2008-2010 before joining us, the Mumbai Indians in the 2011 auction.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <p>grouprepo works!</p>
