.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://www.mumbaiindians.com/static-assets/images/players/large/3852.png?v=2.13&w=400');
    background-size: cover;
  }
  