.example-spacer {
    flex: 1 1 auto;
  }

  .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .icon
  {
    padding-right: 10px;
  }
  
  body {
    background-color: cyan;
  }