<p>
  <mat-toolbar style="color: brown;">
    <mat-toolbar-row>
      <span>Ticket Management System</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>group_work</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>cancel</mat-icon>
    </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p>

<mat-sidenav-container>
  <mat-sidenav opened mode="side">
    <mat-nav-list>
      <a routerLink='groupagents' mat-list-item>
        <mat-icon class="icon">people_outline</mat-icon>GroupAgents</a>
    </mat-nav-list>
    <mat-nav-list>
      <a routerLink='dashboard' mat-list-item>
        <mat-icon class="icon">dashboard</mat-icon>
        GroupDashboard</a>
      <a routerLink='grouprepos' mat-list-item><mat-icon class="icon">texture</mat-icon>GroupRepo</a>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <p style="height: 80vh;"> <router-outlet></router-outlet>
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>