.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  p {
    display: block;
    border: 1px solid #555;
    margin: 20px;
    padding: 10px;
  }
  